@import url('https://fonts.googleapis.com/css2?family=Fjalla+One&family=Poppins:wght@100;200;300;400;500;600;700;800&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    color: white;
}
html {
    overflow-x: hidden;
    scroll-behavior: smooth;
}
body {
    overflow-x: hidden;
    background-color: hsl(0, 0%, 10%);
    display: flex;
    flex-direction: column;
}
* a {
    text-decoration: none;
}

/*///////////////////////////////// EXTRA ////////////////////////////////////*/
.square-container {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 120%;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-wrap: wrap;
    border-top: 1px solid hsl(0, 0%, 13%);
    border-left: 1px solid hsl(0, 0%, 13%);
}
.square {
    height: 74px;
    width: 64px;
    border: 1px solid hsl(0, 0%, 13%);
    border-top: 0;
    border-left: 0;
    transition: 0.3s ease;
}
::-webkit-scrollbar-corner {
    background-color: hsl(0, 0%, 10%);
}
::-webkit-scrollbar {
    width: 6px;
}
::-webkit-scrollbar-track {
    background: hsl(0, 0%, 10%);
    border-radius: 5px;
}
/* Scrollbar thumb (the draggable part) */
::-webkit-scrollbar-thumb {
    background: hsl(0, 0%, 20%);
    border-radius: 10px;
    transition: 0.3s ease;
}::-webkit-scrollbar-thumb:hover {background-color: hsl(0, 0%, 26%);}
.menu-container {
    display: flex;
    flex-direction: column;
    z-index: 99;
    background: linear-gradient(to top, hsla(0, 0%, 0%, 0.97), hsla(0, 0%, 11%, 0.97));
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: right;
    overflow: hidden;
    height: 0%;
    transition: 0.5s ease;
}
.menu-blur {
    z-index: 98;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    height: 0px;
    border-radius: 14px;
    background: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
    background-size: 128px;
    background-repeat: repeat;
    transition: 0.5s ease;
}
.menu-border {
    background: radial-gradient(50% 50% at 50% 50%, rgb(118, 118, 118) 0%, rgb(13, 13, 13) 100%);
    height: 1px;
    width: 100%;
    margin: 30px 0 40px;
}
.menu-link {
    margin-right: 40px;
    font-size: 24px;
    font-weight: 500;
    color: hsl(0, 0%, 50%);
    margin-bottom: 25px;
    line-height: 1;
}
.menu-social {
    margin-right: 40px;
    font-size: 14px;
    color: hsl(0, 0%, 50%);
    line-height: 1;
    margin-bottom: 16px;
}
.menu-link:hover, .menu-social:hover {
    color: white;
    transition: 0.3s ease;
}
.circle-background {
    pointer-events: none;
    z-index: -4;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: radial-gradient(circle, rgba(255, 255, 255, 0.055) 0%, rgba(255, 255, 255, 0) 60%);
    width: 820px;
    height: 820px;
    border-radius: 100%;
}
.starter {
    position: relative;
    top: 120px;
    opacity: 0;
    transition: 0.6s ease;
}
.scroll-target {
    opacity: 0;
    position: relative;
    top: 100px;
    transition: 0.6s ease;
}
/*////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// HEADER ////////////////////////////////////*/
.header {
    position: relative;
    z-index: 3;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 22px 0;
    width: 1300px;
    max-width: calc(100% - 50px);
    margin: 0 auto;
}
.header-logo {
    width: 38px;
    height: auto;
    margin-right: 22px;
}
.header-name {
    font-size: 16px;
    font-weight: 600;
    margin-bottom: 3px;
}
.header-job {
    color: hsl(0, 2%, 50%);
    font-size: 16px;
    font-weight: 600;
}
.header-nav {
    margin-left: auto;
    display: flex;
    align-items: center;
    gap: 50px;
}
.header-link {
    font-size: 16px;
    color: rgb(130, 125, 125);
    transition: 0.2s ease;
}.header-link:hover {color: white;}
/*/////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// HOME CONTENT ////////////////////////////////////*/
.home-container {
    overflow: hidden;
    padding-bottom: 100px;
    position: relative;
    width: 100%;
}
.home-content {
    z-index: 3;
    position: relative;
    max-width: 535px;
    margin: 50px auto 0;
    text-align: center;
}
.avail-box {
    padding: 9px 16px;
    border-radius: 100px;
    background-color: hsl(0, 0%, 8%);
    border: 1px solid hsl(0, 2%, 30%);
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 218px;
    margin: 0 auto;
}
.avail-dot {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: hsl(58, 96%, 46%);
}
.avail-txt {
    font-weight: 500;
    font-size: 11.75px;
}
.home-avatar {
    width: 78px;
    height: 78px;
    border-radius: 100px;
    margin: 30px auto 22px;
}
.home-title {
    font-weight: 500;
    font-size: 54px;
    line-height: 1.1;
    letter-spacing: -2px;
    background: linear-gradient(to right, white, rgb(129, 129, 129));
    background-clip: text;
    -webkit-text-fill-color: transparent;
}
.home-para {
    font-weight: 500;
    max-width: 425px;
    margin: 22px auto 30px;
    font-size: 16px;
    line-height: 1.5;
    color: hsl(0, 2%, 70%);
}
.btn-home {
    cursor: pointer;
    border: 1px solid transparent;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    width: 150px;
    height: 46px;
    border-radius: 200px;
    gap: 14px;
    transition: 0.6s ease;
}
.btn-home-txt {
    letter-spacing: -.5px;
    font-weight: 500;
    font-size: 16px;
    color: hsl(0, 0%, 10%);
    transition: 0.3s ease;
}
.home-arr {
    font-size: 14px;
    color: hsl(0, 0%, 10%);
    transition: 0.3s ease;
}
/*///////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// EXTRA HOME IMGS ////////////////////////////////////*/
.extra-border {
    height: 2px;
    width: 100%;
    background: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgb(82, 82, 82) 31.0811%, rgb(33, 33, 33) 64.2643%, rgb(43, 43, 43) 90.5405%);
}
.extra-container::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 1;
    background: linear-gradient(to bottom, hsla(0, 0%, 10%, 0.96), transparent 100%),
    linear-gradient(to top, transparent, transparent 30%);
    pointer-events: none;
    z-index: 3;
    transition: 0.5s ease;
}
.extra-active::before {
    opacity: 0;
    transition: 0.5s ease;
}
.extra-container {
    overflow: hidden;
    position: relative;
    padding-top: 8px;
    height: 420px;
    gap: 15px;
    display: flex;
    justify-content: flex-start;
    width: 100%;
    transition: 0.5s ease;
}
.extra-img-container {
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 18%);
    background-color: hsl(0, 0%, 8%);
    padding: 5px;
    height: 407px;
    margin-right: 0px;
    animation: slide_home 60s linear infinite;
}
.extra-img {
    border-radius: 8px;
    max-width: auto;
    height: 378px;
}
.extra-dot-flex {
    display: flex;
    gap: 10px;
    margin: 2px 3px;
    margin-bottom: 7px;
}
.extra-dot {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: hsl(0, 0%, 18%);
}
@keyframes slide_home {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-3479px);
    }
}
/*//////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// FEATURED PROJECTS ////////////////////////////////////*/
.feat-container {
    margin: 220px auto;
    width: 100%;
}
.feat-title {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin: 0 auto 70px;
    letter-spacing: -2px;
    width: 420px;
    background: linear-gradient(to right, white, rgb(175, 175, 175), grey);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.feat-flex {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
}
.feat-box {
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 632px;
    border-radius: 10px;
    border: 1px solid hsl(0, 0%, 18%);
}
.feat-dot-flex {
    display: flex;
    width: 100%;
    gap: 10px;
    padding: 7px 8px;
}
.feat-dot {
    width: 8px;
    height: 8px;
    border-radius: 100px;
    background-color: hsl(0, 0%, 18%);
}
.feat-img-container {
    overflow: hidden;
    aspect-ratio: 4 / 3;
    width: 620px;
    height: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
}
.feat-img {
    margin: 0 auto;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    width: 100%;
    height: 100%;
    transition: 0.3s ease;
}
.feat-blur {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
    background-size: 128px;
    background-repeat: repeat;
}
.feat-shadow {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    background: linear-gradient(to left, hsla(0, 0%, 8%, 0.97), hsla(0, 0%, 14%, 0.97));
    /*background-color: hsla(0, 0%, 7%, 0.95);*/
    transition: 0.3s ease;
}
.feat-content {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    position: relative;
    width: 100%;
    padding: 30px 22px;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}
.feat-head {
    font-size: 24px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 18px;
}
.feat-desc {
    color: hsl(0, 2%, 70%);
    font-size: 16px;
    font-weight: 500;
    line-height: 1;
}
.feat-arr-container {
    transition: 0.3s ease;
}.feat-arr {font-size: 16px;}
/*////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// TESTIMONIALS ////////////////////////////////////*/
.test-container {
    margin-bottom: 100px;
    width: 100%;
}
.test-flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    width: 100%;
    gap: 20px;
}
.test-blur {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 14px;
    background: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
    background-size: 128px;
    background-repeat: repeat;
}
.test-wrapper {
    position: relative;
    background: linear-gradient(to bottom, hsla(0, 0%, 10%, 0.97), hsla(0, 0%, 12%, 0.97));
    width: 413px;
    border-radius: 12px;
    padding: 50px 60px;
}
.test-title {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin: 0 auto 70px;
    letter-spacing: -2px;
    width: 300px;
    background: linear-gradient(to right, white, rgb(175, 175, 175), grey);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.test-para {
    font-weight: 500;
    color: hsl(0, 0%, 75%);
    line-height: 1.65;
    font-size: 15.5px;
}
.info-flex {
    margin-top: 50px;
    display: flex;
    align-items: center;
}
.test-avt {
    width: 55px;
    height: 55px;
    border-radius: 100px;
    margin-right: 14px;
}
.test-name {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 90%);
    margin-bottom: 5px;
}
.test-job {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 60%);
}
/*///////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// TRUST LOGOS ////////////////////////////////////*/
.trust-container {
    overflow: hidden;
    width: 100%;
    padding: 30px 0;
    background-color: hsl(0, 0%, 8%);
    position: relative;
}
.trust-border, .call-border {
    height: 1px;
    width: 100%;
    background-image: radial-gradient(50% 132.7% at 50% 50%, rgba(255, 255, 255, 0.6) 17.7177%, rgba(128, 128, 128, 0.15) 63.6637%);
}
.trust-flex {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, rgb(0, 0, 0) 40%, rgb(0, 0, 0) 60%, rgba(0, 0, 0, 0) 95%);
    position: relative;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 150px;
    width: 100%;
    margin: 0 auto;
    overflow: hidden;
}
.trust-logo {
    transform: translateX(0px);
    height: 25px;
    width: auto;
    opacity: 1;
    animation: trust_slide 14s linear infinite;
}
@keyframes trust_slide {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(1540px);
    }
}
/*//////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// ABOUT ME ////////////////////////////////////*/
.about-container {
    margin-top: 160px;
    width: 100%;  
}
.about-title {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    margin: 0 auto 70px;
    letter-spacing: -2px;
    width: 235px;
    background: linear-gradient(to right, white, rgb(175, 175, 175), grey);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.about-flexbox {
    display: flex;
    flex-wrap: wrap;
    gap: 16px;
    width: 1280px;
    max-width: 100%;
    margin: 0 auto;
}
.about-blur {
    z-index: -2;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 24px;
    background: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
    background-size: 128px;
    background-repeat: repeat;
}
.all-about-wrapper {
    padding: 64px;
    border-radius: 20px;
    position: relative;
}
.about-info-wrapper {
    background: linear-gradient(to bottom, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
    flex: 0 0 calc(62% - 8px);
}
.about-avt-wrapper {
    background: linear-gradient(to bottom, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
    flex: 0 0 calc(38% - 8px);
    display: flex;
    align-items: center;
    justify-content: center;
}
.about-stat-wrapper {
    background: linear-gradient(to top, hsla(0, 0%, 13%, 0.97), hsla(0, 0%, 10%, 0.97));
    flex: 0 0 calc(20% - 5.33px);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}
.about-help-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, hsla(0, 0%, 13%, 0.97), hsla(0, 0%, 10%, 0.97));
    flex: 0 0 calc(58.5% - 5.33px);
}
.about-expert-wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
    flex: 0 0 calc(40.5% - 5.33px);
}
.about-tech-wrapper {
    padding: 28px 0;
    background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
    flex: 0 0 calc(40.5% - 5.33px);
}
.about-twit-wrapper {
    background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
    flex: 0 0 calc(17.5% - 5.33px);
    display: flex;
    align-items: center;
    justify-content: center;
}.about-twit-wrapper:hover {background: linear-gradient(to top, hsla(0, 0%, 8%, 0.97), hsla(0, 0%, 0%, 0.97));}

.about-info-para {
    font-weight: 500;
    color: hsl(0, 0%, 75%);
    line-height: 1.6;
    font-size: 20px;
}
.about-avt {
    filter: grayscale(100%);
    width: 208px;
    height: 208px;
    border-radius: 500px;
    transition: 0.2s ease;
}
.about-stat-head {
    font-size: 50px;
    font-weight: 500;
    line-height: 1;
    margin-bottom: 10px;
}
.about-stat-desc {
    color: hsl(0, 0%, 75%);
    font-size: 20px;
    font-weight: 500;
}
.about-help-para {
    color: hsl(0, 0%, 75%);
    font-weight: 500;
    font-size: 20px;
    line-height: 1.6;
}
.expert-box {
    border-top: 1px solid hsl(0, 0%, 18%);
    background-color: hsla(0, 0%, 10%, 0.5);
    position: relative;
    border-radius: 100px;
    display: flex;
    align-items: center;
    gap: 20px;
    padding: 18px 30px;
}
.expert-img {
    width: auto;
    height: 28px;
}
.expert-txt {
    font-size: 24px;
    font-weight: 500;
    column-rule: hsl(0, 0%, 60%);
}
.about-tech-head {
    text-align: center;
    margin-bottom: 54px;
    font-size: 18px;
    color: hsl(0, 0%, 64%);
    font-weight: 500;
}
.tech-flex {
    mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, red 40%, red 60%, rgba(0, 0, 0, 0) 95%);
    display: flex;
    justify-content: flex-start;
    gap: 36px;
    max-width: 516px;
}
.tech-img {
    width: 48px;
    height: 48px;
    border-radius: 100px;
    animation: tech_slide 8s linear infinite;
}
@keyframes tech_slide {
    0% {
        transform: translateX(0px);
    }
    100% {
        transform: translateX(-505px);
    }
}
.twitter-img {
    width: 88px;
    height: auto;
}
/*///////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// FREQUENT QUESTIONS ////////////////////////////////////*/
.ques-bg {
    min-width: 100%;
    width: 1500px;
    height: auto;
    min-height: 100%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.ques-container {
    overflow: hidden;
    position: relative;
    /*background: url(images/ques_bg.png);
    background-size: cover;
    background-attachment: fixed;
    background-position: (center, center);
    background-repeat: no-repeat;*/
    margin: 160px auto 0;
    padding-top: 120px;
    width: 100%;
    padding-bottom: 120px;
}
.ques-title {
    text-align: center;
    font-weight: 500;
    font-size: 50px;
    width: 650px;
    margin: 0 auto 100px;
    letter-spacing: -2px;
    background: linear-gradient(to right, white, rgb(175, 175, 175), grey);
    -webkit-text-fill-color: transparent;
    background-clip: text;
}
.ques-col {
    display: flex;
    flex-direction: column;
    gap: 16px;
}
.ques-box {
    cursor: pointer;
    margin: 0 auto;
    width: 768px;
    padding: 16px 24px;
    background: hsla(0, 0%, 7%, 0.93);
    gap: 22px;
    position: relative;
    border-radius: 10px;
    transition: 0.3s ease;
}
.ques-flex {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 24px;
}
.ques-icon {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 22px;
    font-size: 34px;
    font-weight: 200;
}
.ques-head {
    font-size: 20px;
    font-weight: 500;
}
.ques-para {
    font-size: 16px;
    font-weight: 500;
    color: hsl(0, 0%, 50%);
    line-height: 1.6;
    overflow: hidden;
    padding-top: 0px;
    max-height: 0px; /*285*/
    transition: 0.5s ease;
}
/*/////////////////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// CALLOUT ////////////////////////////////////*/
.call-wrapper {
    width: 100%;
    padding: 30px 0;
    background-color: hsl(0, 0%, 8%);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
}
.call-txt {
    font-size: 18px;
    font-weight: 500;
    color: hsl(0, 0%, 75%);
}
.call-bg {
    position: relative;
    border-radius: 10px;
    background-color: hsla(0, 0%, 25%, 0.5);
    padding: 2px;
    width: 252px;
    height: 55px;
}
.call-btn {
    z-index: 3;
    position: relative;
    opacity: 1;
    width: 100%;
    height: 100%;
    font-size: 17px;
    font-weight: 500;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: hsl(0, 0%, 2%);
    border-radius: 8px;
}
/*//////////////////////////////////////////////////////////////////////////////*/

/*///////////////////////////////// FOOTER ////////////////////////////////////*/
.footer-container {
    background-color: hsl(0, 0%, 7%);
    padding: 60px 0 45px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.footer-nav {
    display: flex;
    align-items: center;
    gap: 45px;
}
.footer-link {
    font-size: 16px;
    color: hsl(0, 2%, 50%);
    transition: 0.2s ease;
}.footer-link:hover {color: white;}
.footer-logo {
    margin: 70px 0;
    width: 60px;
    height: auto;
    opacity: 0.9;
}
.social-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 28px;
}
.social-img {
    opacity: 0.5;
    transition: 0.3s ease;
}.social-img:hover {opacity: 1;}
.copy-txt {
    text-align: center;
    margin-top: 64px;
    font-size: 16px;
    color: hsl(0, 2%, 50%);
}
/*/////////////////////////////////////////////////////////////////////////////*/

.menu-icon-container {
    display: none;
}
#footerBr {
    display: none;
}




@media only screen and (max-width: 1300px){
    .menu-link:hover, .menu-social:hover {
        color: hsl(0, 0%, 50%);
        transition: 0.3s ease;
    }
    .header {
        z-index: 101;
        padding: 22px 0;
        max-width: calc(100% - 50px);
    }
    .header-logo {
        width: 34px;
        height: auto;
        margin-right: 22px;
    }
    .header-name {
        font-size: 15px;
        font-weight: 500;
        margin-bottom: 3px;
    }
    .header-job {
        color: hsl(0, 2%, 50%);
        font-size: 15px;
        font-weight: 500;
    }
    .header-nav {
        display: none;
    }
    .menu-icon-container {
        cursor: pointer;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        margin-left: auto;
        gap: 9px;
    }
    .menu-line {
        width: 20px;
        height: 2px;
        background-color: hsl(0, 0%, 40%);
    }
    .line1 {
        transition: 0.3s ease;
        position: relative;
        top: 0px;
    }
    .line2 {
        transition: 0.3s ease;
        position: relative;
        top: 0px;
    }

    .home-container {
        padding-bottom: 80px;
        position: relative;
        width: 100%;
    }
    .home-content {
        max-width: 410px;
        margin: 50px auto 0;
    }
    .avail-box {
        padding: 9px 16px;
        border-radius: 100px;
        background-color: hsl(0, 0%, 8%);
        border: 1px solid hsl(0, 2%, 30%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 218px;
        margin: 0 auto;
    }
    .avail-dot {
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: hsl(58, 96%, 46%);
    }
    .avail-txt {
        font-weight: 500;
        font-size: 11.75px;
    }
    .home-avatar {
        width: 78px;
        height: 78px;
        border-radius: 100px;
        margin: 30px auto 22px;
    }
    .home-title {
        font-weight: 500;
        font-size: 42px;
        line-height: 1.2;
        letter-spacing: -2px;
        background: linear-gradient(to right, white, rgb(129, 129, 129));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .home-para {
        font-weight: 500;
        max-width: 395px;
        margin: 22px auto 30px;
        font-size: 15px;
        line-height: 1.55;
    }
    .btn-home {
        width: 135px;
        height: 42px;
        gap: 14px;
    }
    .btn-home-txt {
        letter-spacing: -.5px;
        font-weight: 500;
        font-size: 15px;
        color: hsl(0, 0%, 10%);
        transition: 0.3s ease;
    }
    .home-arr {
        font-size: 13px;
        color: hsl(0, 0%, 10%);
        transition: 0.3s ease;
    }

    .extra-container {
        height: 320px;
    }
    .extra-img-container {
        height: 300px;
        animation: slide_home 46s linear infinite;
    }
    .extra-img {
        height: 271px; /*-29*/
    }
    @keyframes slide_home {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-2537px);
        }
    }

    .feat-title {
        font-size: 42px;
        margin: 0 auto 70px;
        letter-spacing: -2px;
        width: 338px;
    }
    .feat-flex {
        padding: 0 25px;
        width: 100%;
        gap: 10px;
    }
    .feat-box {
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .feat-img-container {
        width: calc(100% - 10px);
    }
    .feat-content {
        padding: 24px 15px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .feat-head {
        font-size: 20px;
        margin-bottom: 18px;
    }
    .feat-desc {
        font-size: 14px;
    }

    .test-container {
        /*margin-bottom: 100px;*/
        width: 100%;
    }
    .test-flex {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        padding: 0 25px;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }
    .test-wrapper {
        width: auto;
        flex: 0 0 calc(50% - 10px);
        border-radius: 12px;
        padding: 50px 40px;
    }
    .test-title {
        font-size: 42px;
        margin: 0 auto 70px;
        letter-spacing: -2px;
        width: 255px;
    }

    .about-container {
        padding: 0 25px;
        margin-top: 160px;
        width: 100%;  
    }
    .about-title {
        font-size: 42px;
        margin: 0 auto 70px;
        letter-spacing: -2px;
        width: 200px;
    }
    .about-flexbox {
        display: flex;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .all-about-wrapper {
        padding: 64px;
        border-radius: 20px;
        position: relative;
    }
    .about-info-wrapper {
        padding: 30px;
        background: linear-gradient(to bottom, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(62% - 8px);
    }
    .about-avt-wrapper {
        background: linear-gradient(to bottom, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(38% - 8px);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-stat-wrapper {
        background: linear-gradient(to top, hsla(0, 0%, 13%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(20% - 5.33px);
        padding: 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-help-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to top, hsla(0, 0%, 13%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 1 0 0;
        padding: 60px 25px;
    }
    .about-expert-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: none;
        padding: 60px 0 !important;
        width: calc(50% - 8px);
    }
    .about-tech-wrapper {
        padding: 28px 0;
        background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: none;
        width: calc(50% - 8px);
    }
    .about-twit-wrapper {
        background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(17.5% - 5.33px);
        display: none;
        align-items: center;
        justify-content: center;
    }.about-twit-wrapper:hover {background: linear-gradient(to top, hsla(0, 0%, 8%, 0.97), hsla(0, 0%, 0%, 0.97));}
    
    .about-info-para {
        font-weight: 500;
        color: hsl(0, 0%, 75%);
        line-height: 1.75;
        font-size: 15px;
    }
    .about-avt {
        filter: grayscale(0%);
        width: 130px;
        height: 130px;
        border-radius: 500px;
        transition: 0.2s ease;
    }
    .about-stat-head {
        font-size: 42px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 14px;
    }
    .about-stat-desc {
        color: hsl(0, 0%, 75%);
        font-size: 16px;
        font-weight: 500;
    }
    .about-help-para {
        color: hsl(0, 0%, 75%);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.75;
        max-width: 100%;
    }
    .expert-box {
        border-top: 1px solid hsl(0, 0%, 18%);
        background-color: hsla(0, 0%, 10%, 0.5);
        position: relative;
        border-radius: 100px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 18px 30px;
    }
    .expert-img {
        width: auto;
        height: 24px;
    }
    .expert-txt {
        font-size: 18px;
        font-weight: 500;
        column-rule: hsl(0, 0%, 60%);
    }
    .about-tech-head {
        text-align: center;
        margin-bottom: 54px;
        font-size: 18px;
        color: hsl(0, 0%, 64%);
        font-weight: 500;
    }
    .tech-flex {
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, red 40%, red 60%, rgba(0, 0, 0, 0) 95%);
        display: flex;
        justify-content: flex-start;
        gap: 36px;
        max-width: 100%;
    }
    .tech-img {
        width: 48px;
        height: 48px;
        border-radius: 100px;
        animation: tech_slide 8s linear infinite;
    }
    .twitter-img {
        width: 54px;
        height: auto;
    }

    .ques-bg {
        min-width: 100%;
        width: 920px;
        height: auto;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
    .ques-container {
        margin: 280px auto 0;
        width: 100%;
        padding-bottom: 120px;
    }
    .ques-title {
        font-size: 42px;
        letter-spacing: -1.5px;
        width: 550px;
        margin: 0 auto 100px;
    }
    .ques-col {
        padding: 0 25px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .ques-box {
        cursor: pointer;
        margin: 0 auto;
        width: 768px;
        max-width: 100%;
        padding: 16px 24px;
        background: hsla(0, 0%, 7%, 0.93);
        gap: 22px;
        position: relative;
        border-radius: 10px;
        transition: 0.3s ease;
    }
    .call-txt {
        font-size: 16px;
    }
}
@media only screen and (max-width: 750px){
    .feat-container {
        margin: 180px 0;
    }

    .feat-title {
        font-size: 34px;
        margin: 0 auto 40px;
        letter-spacing: -1.5px;
        width: 275px;
    }
    .feat-flex {
        padding: 0 14px;
        width: 100%;
        gap: 0px;
        flex-direction: column;
    }
    .feat-box {
        margin-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }
    .feat-img-container {
        width: calc(100% - 10px);
    }
    .feat-content {
        padding: 24px 15px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
    }
    .feat-head {
        font-size: 20px;
        margin-bottom: 18px;
    }
    .feat-desc {
        font-size: 14px;
    }

    .test-container {
        margin-bottom: 80px;
        width: 100%;
    }
    .test-flex {
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
        flex-direction: column;
        padding: 0 14px;
        flex-wrap: nowrap;
        width: 100%;
        gap: 20px;
    }
    .test-wrapper {
        width: auto;
        flex: none;
        width: 100%;
        border-radius: 12px;
        padding: 50px 40px;
    }
    .test-title {
        font-size: 34px;
        margin: 0 auto 40px;
        letter-spacing: -1.5px;
        width: 210px;
    }

    .about-container {
        padding: 0 14px;
        margin-top: 120px;
        width: 100%;  
    }
    .about-title {
        font-size: 34px;
        margin: 0 auto 40px;
        letter-spacing: -1.5px;
        width: 162px;
    }
    .about-flexbox {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 16px;
        width: 100%;
        max-width: 100%;
        margin: 0 auto;
    }
    .all-about-wrapper {
        padding: 64px;
        flex: none !important;
        width: 100% !important;
        border-radius: 20px;
        position: relative;
    }
    .about-info-wrapper {
        padding: 50px 30px;
        background: linear-gradient(to bottom, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(62% - 8px);
    }
    .about-avt-wrapper {
        background: linear-gradient(to bottom, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(38% - 8px);
        padding: 50px 0;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .about-stat-wrapper {
        background: linear-gradient(to top, hsla(0, 0%, 13%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(20% - 5.33px);
        padding: 64px 0;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
    }
    .about-help-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to top, hsla(0, 0%, 13%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 1 0 0;
        padding: 50px 15px 50px 25px;
    }
    .about-expert-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
        background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: none;
        width: calc(50% - 8px);
    }
    .about-tech-wrapper {
        padding: 40px 0;
        background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: none;
        width: calc(50% - 8px);
    }
    .about-twit-wrapper {
        background: linear-gradient(to top, hsla(0, 0%, 15%, 0.97), hsla(0, 0%, 10%, 0.97));
        flex: 0 0 calc(17.5% - 5.33px);
        display: none;
        align-items: center;
        justify-content: center;
    }.about-twit-wrapper:hover {background: linear-gradient(to top, hsla(0, 0%, 8%, 0.97), hsla(0, 0%, 0%, 0.97));}
    
    .about-info-para {
        font-weight: 500;
        color: hsl(0, 0%, 75%);
        line-height: 1.75;
        font-size: 15px;
    }
    .about-avt {
        width: 130px;
        height: 130px;
        border-radius: 500px;
        transition: 0.2s ease;
    }
    .about-stat-head {
        font-size: 42px;
        font-weight: 500;
        line-height: 1;
        margin-bottom: 14px;
    }
    .about-stat-desc {
        color: hsl(0, 0%, 75%);
        font-size: 16px;
        font-weight: 500;
    }
    .about-stat-desc br {
        display: none;
    }
    .about-help-para {
        color: hsl(0, 0%, 75%);
        font-weight: 500;
        font-size: 16px;
        line-height: 1.8;
        max-width: 100%;
    }
    .expert-box {
        border-top: 1px solid hsl(0, 0%, 18%);
        background-color: hsla(0, 0%, 10%, 0.5);
        position: relative;
        border-radius: 100px;
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 18px 30px;
    }
    .expert-img {
        width: auto;
        height: 24px;
    }
    .expert-txt {
        font-size: 18px;
        font-weight: 500;
        column-rule: hsl(0, 0%, 60%);
    }
    .about-tech-head {
        text-align: center;
        margin-bottom: 54px;
        font-size: 16px;
        color: hsl(0, 0%, 64%);
        font-weight: 500;
    }
    .tech-flex {
        mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 5%, red 40%, red 60%, rgba(0, 0, 0, 0) 95%);
        display: flex;
        justify-content: flex-start;
        gap: 36px;
        max-width: 100%;
    }
    .tech-img {
        width: 48px;
        height: 48px;
        border-radius: 100px;
        animation: tech_slide 8s linear infinite;
    }
    @keyframes tech_slide {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-505px);
        }
    }
    .twitter-img {
        width: 54px;
        height: auto;
    }

    .ques-container {
        margin: 40px auto 0;
        width: 100%;
        padding-top: 120px;
        padding-bottom: 120px;
    }
    .ques-title {
        font-size: 34px;
        letter-spacing: -1.5px;
        width: 440px;
        max-width: 100%;
        margin: 0 auto 60px;
    }
    .ques-col {
        padding: 0 14px;
        display: flex;
        flex-direction: column;
        gap: 16px;
    }
    .ques-box {
        cursor: pointer;
        margin: 0 auto;
        width: 768px;
        max-width: 100%;
        padding: 12px 18px;
        background: hsla(0, 0%, 7%, 0.93);
        gap: 22px;
        position: relative;
        border-radius: 10px;
        transition: 0.3s ease;
    }
    .ques-flex {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        gap: 20px;
    }
    .ques-icon {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 16px;
        font-size: 26px;
        font-weight: 200;
    }
    .ques-head {
        font-size: 16px;
        font-weight: 400;
    }
    .ques-para {
        font-size: 14px;
        font-weight: 400;
        color: hsl(0, 0%, 50%);
        line-height: 1.7;
        overflow: hidden;
        padding-top: 0px;
        max-height: 0px; /*285*/
        transition: 0.5s ease;
    }
    .call-txt {
        display: none;
    }
    .call-btn {
        font-size: 15px;
    }

    .footer-nav {
        gap: 30px;
        flex-direction: column;
    }
    .footer-logo {
        width: 50px;
    }
    .footer-link {
        font-size: 14px;
    }
    .copy-txt {
        font-size: 14px;
    }
    #footerBr {
        display: block;
    }
}
@media only screen and (max-width: 492px){
    .header-blur {
        z-index: -2;
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 75px;
        background: url(https://framerusercontent.com/images/rR6HYXBrMmX4cRpXfXUOvpvpB0.png);
        background-size: 128px;
        background-repeat: repeat;
    }
    .header {
        position: relative;
        padding: 17px 25px;
        max-width: calc(100%);
        background: linear-gradient(to left, hsla(0, 0%, 10%, 0.97), hsla(0, 0%, 13%, 0.97));
    }
    .header-border {
        width: 100%;
        height: 2px;
        position: relative;
        z-index: 101;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0);
        background-image: radial-gradient(50% 50% at 50% 50%, rgb(255, 255, 255) 0%, rgb(82, 82, 82) 31.0811%, rgb(33, 33, 33) 64.2643%, rgb(43, 43, 43) 90.5405%);
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
        background-repeat: repeat;
        background-size: auto;
    }
    .header-logo {
        width: 30px;
        height: auto;
        margin-right: 22px;
    }
    .header-name, .header-job {
        display: none;
    }

    .home-container {
        padding-bottom: 80px;
        position: relative;
        width: 100%;
    }
    .home-content {
        max-width: 344px;
        margin: 50px auto 0;
    }
    .avail-box {
        padding: 9px 16px;
        border-radius: 100px;
        background-color: hsl(0, 0%, 8%);
        border: 1px solid hsl(0, 2%, 30%);
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: 218px;
        margin: 0 auto;
    }
    .avail-dot {
        width: 8px;
        height: 8px;
        border-radius: 100px;
        background-color: hsl(58, 96%, 46%);
    }
    .avail-txt {
        font-weight: 500;
        font-size: 11.75px;
    }
    .home-avatar {
        width: 78px;
        height: 78px;
        border-radius: 100px;
        margin: 30px auto 22px;
    }
    .home-title {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.2;
        letter-spacing: -2px;
        background: linear-gradient(to right, white, rgb(129, 129, 129));
        background-clip: text;
        -webkit-text-fill-color: transparent;
    }
    .home-para {
        font-weight: 500;
        max-width: 100%;
        width: 342px;
        margin: 22px auto 30px;
        font-size: 13px;
        line-height: 1.7;
    }
    .btn-home {
        width: 135px;
        height: 42px;
        gap: 14px;
    }
    .btn-home-txt {
        letter-spacing: -.5px;
        font-weight: 500;
        font-size: 15px;
        color: hsl(0, 0%, 10%);
        transition: 0.3s ease;
    }
    .home-arr {
        font-size: 13px;
        color: hsl(0, 0%, 10%);
        transition: 0.3s ease;
    }

    .extra-container {
        height: 270px;
    }
    .extra-img-container {
        height: 250px;
        animation: slide_home 42s linear infinite;
    }
    .extra-img {
        height: 221px; /*-29*/
    }
    @keyframes slide_home {
        0% {
            transform: translateX(0px);
        }
        100% {
            transform: translateX(-2099px);
        }
    }
}